<?xml version="1.0" ?>
<!--
App配置文件
-->
<configuration>

    <!--App名称-->
	<appname name="自然资源一张图移动应用系统" />

	<extent id="1">
        <xmin xmin="98.12001898511082"></xmin>
        <ymin ymin="39.651550073342946"></ymin>
        <xmax xmax="98.51777241291725"></xmax>
        <ymax ymax="39.949262227551614"></ymax>
        <srid srid="4490"></srid>
    </extent>


    <!--Runtime 许可-->
	<runtimekey license="Aruntimelite,1000,rud7589376584,none,MJJC7XLS100BNERL1153"/>

    <ipaddress address="192.168.50.119"/>
    <!--系统工作空间目录-->
    <workspace path="/RuntimeViewer"/>

    <!--widget组件列表-->
    <widgetcontainer>
        <widget label="图层管理" classname="com.zrzyyzt.runtimeviewer.Widgets.LayerManagerWidget.LayerManagerWidget"
	             icon="widget_layermanager.png" select_icon="widget_layermanager_select2.png" width="600"/>
<!--        <widget label="要素查询" classname="com.zrzyyzt.runtimeviewer.Widgets.QueryWidget.QueryWidget"-->
<!--	            icon="widget_query.png" select_icon="widget_query_select2.png"  width="600"/>-->
<!--        <widget label="要素编辑" classname="com.zrzyyzt.runtimeviewer.Widgets.FeatureEditWidget.FeatureEditWidget"-->
<!--                icon="widget_featureedit.png" select_icon="widget_featureedit_select2.png"/>-->
<!--        <widget label="测距量算" classname="com.zrzyyzt.runtimeviewer.Widgets.CalculateWidget.CaculateWidget"-->
<!--	            icon="widget_caculate.png" select_icon="widget_caculate_select2.png"/>-->
        <widget label="地图标绘" classname="com.zrzyyzt.runtimeviewer.Widgets.DrawWidget.DrawWidget1"
            icon="widget_draw_grey.png" select_icon="widget_draw_select2.png" width="600"/>
        <widget label="书签管理"  classname="com.zrzyyzt.runtimeviewer.Widgets.BookmarkWidget.BookmarkWidget"
                icon="widget_bookmark_grey.png" select_icon="widget_bookmark_select2.png" width="600"/>
        <widget label="文档管理"  classname="com.zrzyyzt.runtimeviewer.Widgets.DocManagerWidget.DocManagerWidget"
            icon="widget_caculate.png" select_icon="widget_caculate_select2.png" width="600" />
        <widget label="统计分析" classname="com.zrzyyzt.runtimeviewer.Widgets.StatisticsWidget.StatisticsWidget" width="800" />
        <widget label="地名检索" classname="com.zrzyyzt.runtimeviewer.Widgets.PlaceNameSearchWidget.PlaceNameSearchWidget" width="800" />
        <widget label="测试" classname="com.zrzyyzt.runtimeviewer.Widgets.HelloWorldWidget"  width="600" />
    </widgetcontainer>
</configuration>